/* Utilties */
/* color */
:root{
    --orange-color: rgb(255, 144, 14);
    --sheddy-background:rgba(255,144,14,0.1);
    --dark-color: #131313;
    --background-color: #FFF4E7;
    --grey-color: #727272;
    --white-color: #FFFFFF;
}
/* font */
body{
    font-family: 'Work Sans', sans-serif;
    border: 3px solid hotpink;
}

/* header section starts here */

.header{
    background-color: var(--sheddy-background);
}

/* nav stying */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid yellow;
}

.nav-logo .logo{
    color:var(--dark-color);
    font-size: 45px;
    font-weight: 700;
}

.nav-menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-menu ul li{
    font-size: 18px;
    color: #131313;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

/* header main starts here */
.header-main{
    text-align: center;
    border: 2px solid cadetblue;
}

.header-text{
    width:50%;
    margin: 0 auto;
    
}

.header-text .header-title{
    font-size: 64px;
    font-weight: 700;
    margin-top: 50px;
}

.header-text .header-subtitle{
    color: #727272;
}

.header-text .btn{
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 8px;
    color: var(--white-color);
    padding: 25px 20px;
    font-weight: 600;
    font-size: 20px;
    margin: 32px;
}

.header-image img{

    width: 80%;
    margin: 40px auto;
   
}

/* Responsive code for  small devices */

@media screen and (max-width: 688px) {
    nav{
        flex-direction: column;
    }

    .nav-menu ul{
        display: block;
    }

    .nav-menu ul li{
        padding: 10px 0;
    }

    .header-main .header-text{
        width: 100%;
    }

    .header-text .header-title{
        font-size: 50px;
        font-weight: 600;
        margin-top: 40px;
    }
    
    .header-text .header-subtitle{
        color: #727272;
        padding: 0 5px;
    }

    .header-text .btn{
        padding: 18px  23px;
        font-size: 18px;
        margin: 28px;
    }
    
}